<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
    <style>
        body {
            background-color: #def7b8;
        }

        .first-app {
            border: 2px solid #757575;
        }
    </style>
</head>

<body>
    <div class="header">
        <%- header %>
    </div>
    <div class="first-app">
        <%- firstApp %>
    </div>
    <div class="second-app">
        <%- secondApp %>
    </div>
    <div class="footer">
        <%- footer %>
    </div>
</body>

</html>