

<!-- web - components -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
    <link href="first" rel="import" async />
    <link href="second" rel="import" async />
  </head>
  <body>
    <microfrontends-first></microfrontends-first>
    <microfrontends-second></microfrontends-second>
  </body>
</html>